<h1>School Class Form</h1>

<%= form_for(@school_class) do |p|%>
  <label>Title:</label><br/>
  <%= p.text_field :title%><br/>
  <label>Room Number:</label><br/>
  <%=p.number_field :room_number%><br/>
  <%=p.submit%>
<%end%>